@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* =========================
   GENERAL
========================= */

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* =========================
   DARK MODE
========================= */

html.dark,
html.dark body {
  background-color: #111936;
}

html.dark img {
  filter: none;
}